<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Standard Template</title>
        <!--    fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: Poppins, Arial, sans-serif;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }
            p {
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.15px;
                color: #1c1b1f;
            }
            h5 {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.3px;
                color: #1c1b1f;
            }
            h6 {
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0.15px;
                color: #1c1b1f;
            }
            .align_left {
                text-align: left !important;
            }
            .main-content {
                width: 100%;
                height: max-content;
                margin: auto;
                transition: width 0.3s ease;
                background-color: #ffffff;
            }
            .header-contents {
                padding: 32px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px solid rgba(148, 157, 178, 0.24);
            }

            header p {
                font-weight: 400;
                font-size: 12px;
                line-height: 22px;
                letter-spacing: 0.15px;
                color: #1c1b1f;
            }
            .logo_box {
                            width: 210px;
                            height: 80px;
                        }
                        .logo_box img {
                            width: auto;
                            max-width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
            .invoice_table {
                width: 38%;
                text-align: right;
                padding-top: 20px;
                font-size: 12px;
            }
            .invoice_table th {
                text-align: left;
                font-weight: 500;
            }
            .items_table {
                width: 100%;
                border-spacing: 0;
                padding: 16px 32px;
            }
            .items_table th,
            .items_table td {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.15px;
                display: table-cell;
                vertical-align: inherit;
                border-bottom: 1px solid #e0e0e0;
                text-align: right;
                padding: 8px;
                color: #1c1b1f;
            }
            .items_table th {
                border-radius: 0;
                background-color: #008945;
                color: #ffffff;
                font-weight: 600;
            }
            .items_table td p {
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: 0.4px;
            }
            .items_table tbody tr {
                background-color: rgba(148, 157, 178, 0.12);
            }
            .items_table tbody tr:nth-of-type(odd) {
                background-color: rgba(100, 56, 188, 0.04);
            }
            .total_table {
                display: table;
                border-collapse: collapse;
                border-spacing: 0;
                width: 50%;
            }
            .total_table th,
            .total_table td {
                padding: 4px 8px;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.5rem;
                letter-spacing: 0.15px;
                text-align: right;
                color: #1c1b1f;
            }
            .total_table th {
                text-align: right;
            }
            .total_row {
                background-color: rgba(148, 157, 178, 0.12);
                border-bottom: 2px solid rgba(148, 157, 178, 0.24);
            }
            footer {
                margin-top: 16px;
                padding: 16px 32px;
                border-top: 2px solid rgba(148, 157, 178, 0.24);
            }

        </style>
    </head>
    <body>
        <div class="main-content">
            <header>
                <div class="header-contents">
                   
                    <% if (data.customLogoUrl) { %>
                        <div class="logo_box"><img src="<%= data.customLogoUrl %>" alt="logo" /></div>
                <% } %>
                    <div style="text-align: right">
                        <h5>Invoice</h5>
                        <% if (contactInfo?.dataValues?.firstName) { %>
                            <h6 ><%= contactInfo?.dataValues?.firstName + ' ' + contactInfo?.dataValues?.lastName %></h6>
                        <% } %>
                        <% if (contactInfo?.dataValues?.email) { %>
                            <p style="margin-top:0">
                                <a href="mailto: <%= contactInfo.dataValues.email  %>" style="text-decoration: none; color: inherit;"><%= contactInfo?.dataValues?.email  %></a>
                            
                            </p>
                        <% } %>
                        <% if (contactInfo?.dataValues?.number) { %>
                            <p style="margin-top:0">
                                <a href="tel: <%= contactInfo.dataValues.number  %>" style="text-decoration: none; color: inherit;"><%= contactInfo?.dataValues?.number  %></a>
                            </p>
                        <% } %>
                      
                    </div>
                </div>
            </header>

            <main>
                <div style="display: flex; justify-content: space-between; padding: 16px 32px">
                    <% if (billTo.address) { %>
                        <div >
                            <h6>BILL TO</h6>
                             <p style="font-weight:600"><%= billTo.address || '' %></p>
                                <% if (billTo.zip || billTo.city || billTo.state || billTo.country) { %>
                                    <p>
                                        <% if (billTo.city) { %>
                                            <%= `${billTo.city},` %>
                                        <% } %>
                                        <% if (billTo.state) { %>
                                            <%= `${billTo.state} ` %>
                                        <% } %>
                                        <% if (billTo.zip) { %>
                                            <%= `${billTo.zip}` %>
                                        <% } %>
                                    </p>
                                    <p style="text-transform: capitalize;"><%= billTo.country || '' %></p>
                                <% } %>
                        </div>
                    <% } %>
                    <% if (shippingTo.address) { %>
                        <div style="text-align: right">
                            <h6>SHIP TO</h6>
                            <p style="font-weight:600"><%= shippingTo.address || '' %></p>
                                <% if (shippingTo.zip || shippingTo.city || shippingTo.state || shippingTo.country) { %>
                                    <p>
                                        <% if (shippingTo.city) { %>
                                            <%= `${shippingTo.city},` %>
                                        <% } %>
                                        <% if (shippingTo.state) { %>
                                            <%= `${shippingTo.state} ` %>
                                        <% } %>
                                        <% if (shippingTo.zip) { %>
                                            <%= `${shippingTo.zip}` %>
                                        <% } %>
                                    </p>
                                    <p style="text-transform: capitalize;"><%= shippingTo.country || '' %></p>
                                <% } %>
                        </div>
                    <% } %>


                </div>

        <table class="items_table">
            <thead>
            <tr>
                <th class="align_left" style="min-width:300px">Items & Description</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <% let subTotal = 0; %>
            <% let totalTax = 0; %>
            <% let totalAmount = 0; %>
            <% itemsData.forEach(function(item, index) { %>
            <% subTotal += item.itemTotalPrice; %>
            <% totalAmount = (item.itemQuantity * item.itemAmount) %>
            <% totalTax = (totalAmount * item.itemTax) / 100; %>
            <tr>
                <td class="align_left">
                    <span><%= item.itemName %> </span>
                    <% if (item.itemDescription) { %>
                    <p style="margin-top:0; color: #515151"><%= item.itemDescription %></p>
                    <% } %>
                </td>
                <td><%= clientCanSee.includes(clientCanSeeConstant.QUANTITY) ? item.itemQuantity : '-' %></td>
                <td><%= clientCanSee.includes(clientCanSeeConstant.PRICE) ? '$' + item.itemAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : '-' %></td>
                <td>$<%= totalAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
        <div style="position: relative;display: flex;justify-content: space-between; align-items:flex-end; padding: 0 32px; ">
            <!-- <div style="position: absolute; bottom: 0; left: 32px">
                <p style="font-weight: bold; font-size: 16px">Payment Instruction</p>
                <p>Commonwealth Bank</p>
                <p>BSB : 142-345</p>
                <p>Account no : 54334255</p>
            </div> -->
            <table class="invoice_table">
                <tr>
                    <th>Invoice #</th>
                    <td><%= data.invoiceNumber || '' %></td>
                </tr>
                <tr>
                    <th>Order no.</th>
                    <td><%= contactData.orderNumber || '' %></td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td><%= data.invoiceDate || '' %></td>
                </tr>
                <tr>
                    <th>Due Date</th>
                    <td><%= data.dueDate || '' %></td>
                </tr>
            </table>

            <table class="total_table">
                <tbody>
                <tr>
                    <th>Sub Total</th>
                    <td class="capitalize_text">
                        <%= clientCanSee.includes(clientCanSeeConstant.SUB_TOTAL) ? '$' + data?.subTotal.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : '-' %>
                    </td>
                </tr>
                <tr>
                    <th>After Discount</th>
                    <td class="capitalize_text">
                        <%= clientCanSee.includes(clientCanSeeConstant.DISCOUNT) ? '$' + (data?.subTotal - data.discountAmount).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : '-' %>

                    </td>
                </tr>
                <tr>
                    <th>Shipping Charges</th>
                    <td class="capitalize_text">
                        <%= clientCanSee.includes(clientCanSeeConstant.SHIPPING_CHARGE) ? '$' + data.shippingCharge.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : '-' %>
                    </td>
                </tr>
                <tr>
                    <th>Taxes 
                        <% if (data.taxName) { %>
                            (<%= data.taxName %> | <%= data.taxPercentage || 0 %>%)
                        <% } else { %>
                        (<%= data.taxPercentage || 0 %>%)
                        <% } %>
                    </th>
                    <td class="capitalize_text">
                        $<%= data?.tax.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) || 0 %>
                    </td>
                </tr>
                <tr class="total_row">
                    <th class="" style="font-weight: 600">Total</th>
                    <td class="capitalize_text" style="font-weight: 600">$<%= data.totalAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })  || 0 %></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>

            <footer>
                <% if (data.termsAndConditions) { %>
                    <div>
                        <h6>TERMS & CONDITION:</h6>
                        <div ><%- data.termsAndConditions %></p>
                    </div>
                <% } %>
                <% if (data.notes) { %>
                    <div style="margin-top: 20px">
                        <h6>NOTES</h6>
                        <div><%- data.notes %></p>
                    </div>
                <% } %>
                <!-- <div style="display: flex; justify-content: space-between; margin-top: 100px">
                    <p class="signature">20/4/2020</p>
                    <p class="signature">21/4/2020</p>
                </div> -->
            </footer>
        </div>
    </body>
</html>
